# Visual Studio temporary files
.vscode/
.vs/
bin/
obj/
*.suo
*.user
*.sdf
*.opensdf
ipch/
[Tt]humbs.db
[Tt]est[Rr]esults/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]og.txt
*.log
_ReSharper/
[Tt]est[Rr]esult*
*.VisualState.xml
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
[Oo]bj/[Dd]ebug/
[Oo]bj/[Rr]elease/
